/* styles.css */
nav {
    background-color: rgb(226, 212, 212);
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  
  li {
    margin: 0 1rem;
  }
  
  NavLink {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2 rem;
  }
  
  NavLink:hover {
    color: #ff6600;
  }

  .active-item{
    color: rgb(202, 4, 20)
}

    .pending-item{
    color: rgb(102, 0, 255)
}
  